@page "/dashboard"

<PageTitle>@title</PageTitle>

<div class="text-center container">
    <h1>Zarządzaj kontem</h1>
    <br />
    <form>
        <div>
            <h2>Dane osobowe</h2>
        </div>
        <div>
            <p>Imię</p>
        </div>
        <div>
            <p>Nazwisko</p>
        </div>
        <div>
            <p>e-mail</p>
        </div>
        <div>
            <p>phone number</p>
        </div>
    </form>
</div>

@code {
    private string title = "CampApp";

}

