@page "/dashboard"

<PageTitle>@title</PageTitle>

<div class="text-center container">
    <h1>Zarządzaj kontem</h1>
    <br />
    <form>
        <label>Dane osobowe</label>
        <br/>
    </form>
</div>

@code {
    private string title = "CampApp";

}

