@page "/detail"

<PageTitle>@title</PageTitle>

<div class="text-center container">
    <h1>Pole</h1>
    <br />
    <form>
        <label>Nazwa</label>
        <label>Lokalizacja</label>
        <br />
    </form>
</div>

@code {
    private string title = "CampApp";

}

