@page "/funds"

<PageTitle>@title</PageTitle>

<div class="text-center container">
    <h1>Twoje fundusze</h1>
    <br />
    <form>
        <label>Kwota</label>
        <br />
    </form>
</div>

@code {
    private string title = "CampApp - be wild";

}

