@page "/funds"
@using CampingApp.Domain;

<PageTitle>@title</PageTitle>

<div class="text-center container">
    <h1>Twoje fundusze</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Czas od
                </th>
                <th>
                    Czas do
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Bookings)
            {
                <tr>
                    <td>
                        @booking.Id
                    </td>
                    <td>
                        @booking.StartDate
                    </td>
                    <td>
                        @booking.EndDate
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@code {
    private string title = "CampApp";

    List<BookingModel> Bookings = new List<BookingModel>
    {
        new BookingModel
        {
            Id = 1,
            StartDate = "20/05/2022",
            EndDate = "25/05/2022"
        },
        new BookingModel
        {
            Id = 2,
            StartDate = "14/06/2022",
            EndDate = "18/06/2022"
        }
    };
}



