@page "/"
@using CampingApp.Domain;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.WebUtilities;
@inject NavigationManager NavigationManager;

<PageTitle>CampApp - be wild</PageTitle>

@*temporary*@
<div class="text-center">
    <div class="background-home">
        <p class="title-home">Rozpocznij przygodę</p>
        <div class="search-area">
            <EditForm Model="@inputmodel" OnValidSubmit="@HandleValidSubmit">
                <div class="test-div">
                    <div class="test-div-2">
                        <label for="voivodeship">województwo:</label>
                        <InputSelect @bind-Value=inputmodel.Voivodeship>
                            <option value="dolnośląskie">dolnośląskie</option>
                            <option value="kujawsko-pomorskie">kujawsko-pomorskie</option>
                            <option value="lubelskie">lubelskie</option>
                            <option value="lubuskie">lubuskie</option>
                            <option value="łódzkie">łódzkie</option>
                            <option value="małopolskie">małopolskie</option>
                            <option value="mazowieckie">mazowieckie</option>
                            <option value="opolskie">opolskie</option>
                            <option value="podkarpackie">podkarpackie</option>
                            <option value="podlaskie">podlaskie</option>
                            <option value="pomorskie">pomorskie</option>
                            <option value="śląskie">śląskie</option>
                            <option value="świętokrzyskie">świętokrzyskie</option>
                            <option value="warmińsko-mazurskie">warmińsko-mazurskie</option>
                            <option value="wielkopolskie">wielkopolskie</option>
                            <option value="zachodniopomorskie">zachodniopomorskie</option>
                        </InputSelect>
                    </div>
                    <div class="test-div-2">
                        <label for="start">Rezerwacja od:</label>
                        <InputDate @bind-Value="inputmodel.StartDate" id="start-date-input" />
                    </div>
                    <div class="test-div-2">
                        <label for="end">do:</label>
                        <InputDate @bind-Value="inputmodel.EndDate" id="end-date-input" />
                    </div>
                    <div class="test-div-2">
                        <label for="numberOfPeople">Liczba osób:</label>
                        <InputSelect @bind-Value=inputmodel.NumberOfPeople>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </InputSelect>
                    </div>
                    <div class="test-div-2">
                        <button class="own-button-search" type="submit">Szukaj</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
    <footer>
    </footer>
</div>

@code {
    private string title = "CampApp";

    private InputModel inputmodel = new InputModel();

    private class InputModel
    {
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public int NumberOfPeople { get; set; } = 2;
        public string Voivodeship { get; set; } = "dolnośląskie";
    }

    protected override Task OnInitializedAsync()
    {
        inputmodel.StartDate = DateTime.Now;
        var date = DateTime.Now;
        inputmodel.EndDate = date.AddDays(1);

        return base.OnInitializedAsync();
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            //tworze slownik z parametrami jakie bede wysylac w linku strony internetowej tzw query params
            var query = new Dictionary<string, string> {
                { "startDate", inputmodel.StartDate.ToString() },
                { "endDate", inputmodel.EndDate.ToString() },
                { "numberOfPeople", inputmodel.NumberOfPeople.ToString() },
                { "voivodeship", inputmodel.Voivodeship }
            };

            var url = QueryHelpers.AddQueryString("/offers", query);

            //przeladowanie strony z nawigacja:
            NavigationManager.NavigateTo(url); //znawiguje do ofert z podanymi parametrami szukania tymi query params co są wyżej
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);

        }
    }
}


