@page "/newobject"

<PageTitle>@title</PageTitle>

<div class="text-center container">
    <h1>Dodaj obiekt</h1>
    <br />
    <form>
        <div>
            <input name="name" type="text" placeholder="title">
        </div>
        <div>
            <textarea name="description" rows="5" placeholder="description"></textarea>
        </div>

        <p>Address</p>
        <input name="postal-code" type="text" placeholder="Postal code">
        <input name="city" type="text" placeholder="City">
        <input name="street" type="text" placeholder="Street">
        <input name="number" type="text" placeholder="Number">

        <div>
            <div>
                <label class="switch">
                    <input class="checkbox" id="animals-allowed-checkbox" type="checkbox" name="animalsAllowed" value="No" />
                    <span class="slider round"></span>
                </label>
                <span>Przyjazne zwierzętom</span>
            </div>
            <div>
                <label class="switch">
                    <input class="checkbox" id="reception-exists-checkbox" type="checkbox" name="receptionExist" value="No" />
                    <span class="slider round"></span>
                </label>
                <span>Całodzienna recepcja</span>
            </div>
            <div>
                <label class="switch">
                    <input class="checkbox" id="medic-exists-checkbox" type="checkbox" name="medicExist" value="No" />
                    <span class="slider round"></span>
                </label>
                <span>Usługi medyczne</span>
            </div>
            <div>
                <label class="switch">
                    <input class="checkbox" id="restaurant-exists-checkbox" type="checkbox" name="restauranExist" value="No" />
                    <span class="slider round"></span>
                </label>
                <span>Restauracja</span>
            </div>
            <div>
                <label class="switch">
                    <input class="checkbox" id="grill-exists-checkbox" type="checkbox" name="grillExist" value="No" />
                    <span class="slider round"></span>
                </label>
                <span>Miejsce na ognisko lub grilla</span>
            </div>
            <div>
                <label class="switch">
                    <input class="checkbox" id="wifi-exists-checkbox" type="checkbox" name="wifiExist" value="No" />
                    <span class="slider round"></span>
                </label>
                <span>WiFi</span>
            </div>
            <div>
                <label class="switch">
                    <input class="checkbox" id="swimmingpool-exists-checkbox" type="checkbox" name="swimmingpoolExist" value="No" />
                    <span class="slider round"></span>
                </label>
                <span>Basen</span>
            </div>
        </div>
        <input type="file" name="file">
        <div>
            <button class="btn btn-primary mt-1" type="submit">Add</button>
        </div>
    </form>
</div>

@code{
    private string title = "CampApp";

}
