@page "/newobject"

<PageTitle>@title</PageTitle>

<div class="text-center container">
    <h1>Dodaj obiekt</h1>
    <br />
    <form>
        <label>Nazwa</label>
        <br />
    </form>
</div>

@code{
    private string title = "CampApp";

}
