@page "/reservation"

<PageTitle>@title</PageTitle>

<div class="text-center container">
    <h1>Twoja rezerwacja</h1>
    <br />
    <form>
        <label>Pole</label>
        <br />
    </form>
</div>

@code {
    private string title = "CampApp";

}

