@page "/reservations"

<PageTitle>@title</PageTitle>

<div class="text-center container">
    <h1>Zarządzaj rezerwacjami</h1>
    <br />
    <form>
        <label>Nazwa</label>
        <br />
    </form>
</div>
@code {
    private string title = "CampApp - be wild";

}

