@page "/signup"
@*
@using Service
@inject IUserService CustomUserService;
*@

<PageTitle>@title</PageTitle>
<h3>Component1</h3>

<EditForm Model="@inputmodel" OnValidSubmit="@HandleValidSubmit">
    <InputText id="emal" @bind-Value="inputmodel.Email" />
    <InputText id="password" @bind-Value="inputmodel.Password" />
    <button type="submit">Submit</button>
</EditForm>

@code {
    private string title = "CampApp Sign Up";

    private InputModel inputmodel = new InputModel();

    private class InputModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }

    private async Task HandleValidSubmit()
    {

        //await CustomUserService.SaveAsync(inputmodel.Email, inputmodel.Password);
    }

}


