@page "/signup"
@using CampingApp.Services;
@inject IUserService CustomUserService;
@inject NavigationManager NavigationManager;

<PageTitle>@title</PageTitle>

<body>
    <div class="container_centered_background_image2">
        <div class="login__container">
            <EditForm class="space-own-form" Model="@inputmodel" OnValidSubmit="@HandleValidSubmit">
                <div class="own-space-title">
                    <h3>Załóż konto</h3>
                </div>
                <div class="own-space">
                    <InputText id="name" @bind-Value="inputmodel.Name" placeholder="Imię i nazwisko" />
                </div>
                <div class="own-space">
                    <InputText id="phoneNumber" @bind-Value="inputmodel.PhoneNumber" placeholder="Numer telefonu" />
                </div>
                <div class="own-space">
                    <InputText id="emal" @bind-Value="inputmodel.Email" placeholder="E-mail" />
                </div>
                <div class="own-space">
                    <InputText id="password" @bind-Value="inputmodel.Password" placeholder="Hasło" />
                </div>
                <div class="own-space-2">
                    <button class="own-button" type="submit">Załóż konto</button>
                </div>
                <div class="own-space-2">
                    <p>Posiadasz już konto?</p>
                    <button class="own-button" type="submit">Zaloguj się</button>
                </div>
            </EditForm>
        </div>
    </div>
</body>

@code {
    private string title = "CampApp";

    private InputModel inputmodel = new InputModel();

    private class InputModel
    {
        public string Name { get; set; }
        public string PhoneNumber { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
    }

    private async Task HandleValidSubmit()
    {

        await CustomUserService.CreateUser(inputmodel.Name, inputmodel.PhoneNumber, inputmodel.Email, inputmodel.Password);

        //przeladowanie strony z nawigacja do strony glownej:
        NavigationManager.NavigateTo("/signin");
    }

}


