@page "/users"

<PageTitle>@title</PageTitle>

<div class="text-center container">
    <h1>Lista użytkowników</h1>
    <br />
    <form>
        <label>Nazwa</label>
        <br />
    </form>
</div>
@code {
    private string title = "CampApp";

}

