@page "/users"

<PageTitle>@title</PageTitle>

<div class="text-center container">
    <h1 class="display-4 text-capitalize text-black">Lista użytkowników</h1>
    <br />
    <form>
        <label>Nazwa</label>
        <br />
    </form>
</div>
@code {
    private string title = "CampApp";

}

