@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization;

<div class="page">
    <main>
        <div class="top-row">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Camping App
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="offers">
                    Oferta
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="detail">
                    Detail
                </NavLink>
            </div>
            
            <AuthorizeView>
                <Authorized>
                    <div>
                        <NavLink class="nav-link" href="dashboard">
                            Dashboard
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="reservation">
                            Twoja rezerwacja
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="reservation">
                            Wyloguj się
                        </NavLink>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="signup">
                            Zarejestruj się
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="signin">
                            Zaloguj się
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView Roles="Business, Admin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="newobject">
                            Dodaj obiekt
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="reservations">
                            Rezerwacje
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="funds">
                            Fundusze
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="myplaces">
                            Twoje obiekty
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <Authorize>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="users">
                            Users
                        </NavLink>
                    </div>
                </Authorize>
            </AuthorizeView>
        </div>

        <div>
            @Body
        </div>
    </main>
</div>